body {
	background:  black;
	margin: 0;
}

.cards {
	margin: 50px auto;
	width: max-content;
	display: grid;
	grid-template-columns: repeat(6, 100px);
	gap: 12px;
	box-sizing: border-box;
    
}

.card {
	height: 100px;
	background: darkred;
	border: 5px solid white;
	cursor: pointer;
}   