body {
	background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 38%, rgba(121,9,9,1) 100%, rgba(101,8,8,1) 100%);
	margin: 0;
}

.cards {
	margin: 50px auto;
	width: max-content;
	display: grid;
	grid-template-columns: repeat(6, 100px);
	gap: 12px;
	box-sizing: border-box;
    
}

.card {
	height: 100px;
	background: rgb(94, 2, 2);
	border: 5px solid rgb(62, 62, 62);
	cursor: pointer;
    padding: 10px;
}   